<form #tempForm="ngForm" (ngSubmit)="onSubmitTemp(tempForm)">
    <div class="form-group">
        <input
        type="email"
        name="email"
        class="form-control"
        [(ngModel)]="user.name"
        #inputUser="ngModel"
        [ngClass]="{
            'is-invalid': inputUser?.errors && inputUser?.touched
          }"
          required
          email
        />
        {{ inputUser?.errors | json}}
        <div *ngIf="inputUser.touched" class="text-danger">
            <span *ngIf="inputUser.errors?.['required']">Fullname is required</span>
        </div>
    </div>
    <div class="form-group">
        <input
        type="password"
        name="password"
        [(ngModel)]="user.password"
        #inputPass="ngModel"
        class="form-control"
        required
        />
        <div *ngIf="inputPass?.touched" class="text-danger">
            <span *ngIf="inputPass?.errors?.['required']">password is required</span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>